.container {
    display: flex;
    flex-direction: column;
    border: 8px solid red;
    width: 960px;
    height: 960px;
}

.gridRow {
    display: flex;
    flex: 1;
}

.gridElement {
    flex: 1;
}

button {
    margin-bottom: 32px;
}